/*
 * Copyright (c) 2026 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    behaviors {
        // Nút phụ 1: Nhấn nhanh không làm gì, giữ 5s (5000ms) để ngắt/xóa kết nối Bluetooth
        bt_ht: bt_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <5000>;
            bindings = <&bt>, <&none>;
        };

        // Giữ combo cả 2 nút phụ 5s (5000ms) để khởi động lại (reboot) mạch
        reboot_ht: reboot_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <5000>;
            bindings = <&bootloader>, <&none>;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Bấm đồng thời nút phụ 1 (vị trí 6) và nút phụ 2 (vị trí 7) rồi giữ 5s để reboot
        combo_reboot {
            timeout-ms = <100>;
            key-positions = <6 7>;
            bindings = <&reboot_ht 0 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base (Ctrl+C)";
            bindings = <
                &kp LC(C)    &kp LC(C)    &kp LC(C)
                &kp LC(C)    &kp LC(C)    &kp LC(C)
                &bt_ht BT_CLR 0
                &tog 1
                &kp C_MUTE
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_1 {
            display-name = "Layer 1 (Ctrl+V)";
            bindings = <
                &kp LC(V)    &kp LC(V)    &kp LC(V)
                &kp LC(V)    &kp LC(V)    &kp LC(V)
                &trans
                &tog 1
                &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
